RewriteEngine on

# Check if the request is not already in the /frontend/dist/ subdirectory
RewriteCond %{REQUEST_URI} !^/frontend/dist/

# Rewrite the request to the /frontend/dist/ subdirectory
RewriteRule ^(.*)$ /frontend/dist/$1 [L]